{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
<div class="flex flex-col bg-fullPink items-center justify-center min-h-screen py-12">
    <div class="bg-white text-xs shadow-md rounded-lg p-8 w-full max-w-md">
        <header class="flex justify-center items-center">
            <img src="{{ asset('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4" width="93">
        </header>

        <div class="flex justify-center items-center mt-4 ">
            <h2 class="block mb-2 text-xl font-medium">Create new Invoice</h2>
        </div>
        <br>

        {{ include('invoice/_form.html.twig') }}

        <a href="{{ path('app_invoice_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
