
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <main>
        <div class="container mx-auto">
            <div class="p-5 text-center pb-10">
                <h2 class="text-4xl font-bold">Nos Plans </h2>
                <br>
                <p class="text-gray-600">Pour profitez pleinement toutes nos fontionalitées n'hésitez pas à souscrir à un de nos plans</p>
            </div>
            <div class="p-5 grid grid-cols-1 md:grid-cols-3 md:align-middle gap-5">
<!-- starter -->
                <div class="p-5 border shadow rounded  h-max hover:border-gray-200 hover:shadow-gray-400">
                    <div class="text-center flex flex-col gap-2 py-5 text-gray-600">
                        <h2 class="text-xl font-bold">Starter</h2>
                        <p >La version Starter est la version par défaut </p>
                        <p><span class="font-bold text-4xl text-purpleM">0€</span> <span>/ Mois</span></p>
                    </div>
                    
                    <ul class="px-2 py-5 flex flex-col gap-3">
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">1 user</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Consulter ses Devis</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Consulter ses factures</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Telecharger ses Factures</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Telecharger ses Devis</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Acces au support</span>
                        </li>
                    </ul>
                    <button class="px-5 py-2 border shadow w-full bg-purple-500 border-gray-200 text-white   rounded">Inscrivez vous</button>
                </div>

<!-- standard -->
                <div class="p-5 shadow-md shadow-green-100 relative border border-green-100 hover:border-green-300 hover:shadow-green-300 rounded h-max">
                    <span class="absolute top-0 px-10 py-2 bg-green-200 sm:-mt-5 rounded left-[calc(50%-65px)] shadow ">Popular</span>
                    <div class="text-center flex flex-col gap-2 py-5 text-gray-600">
                        <h2 class="text-xl font-bold ">Standard</h2>
                        <p>Pour vos entreprises </p>
                        <p><span class="font-bold text-4xl text-purpleM">50€</span> <span>/ Mois</span></p>
                    </div>
                    
                    <ul class="px-2 py-5 flex flex-col gap-3">
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">3 users</span>
                        </li>
                        
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Possibilité de creer votre Organisation</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Voir les membres de votre organization</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Gerer les Devis de vos clients</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Gerer les factures de vos clients</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500"> Etre directement référenceé sur notre Site</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Mises à jour en exclusivités </span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Support client avancé</span>
                        </li>
                    </ul>

                    <button class="px-5 py-2 border shadow w-full bg-purple-50 border-purple-200 text-gray-500 hover:text-gray-700 hover:bg-black-100 rounded ">Achetez Maintenant</button>
                </div>

<!-- pro -->
                <div class="p-5 border shadow rounded h-max hover:border-gray-200 hover:shadow-gray-400">
                    <div class="text-center flex flex-col gap-2 py-5 text-gray-600">
                        <h2 class="text-xl font-bold">Professional</h2>
                        <p>Pour Gerer votre Organisation comme un Expert</p>
                        <p><span class="font-bold text-4xl text-purpleM">100€</span> <span>/ Mois</span></p>
                    </div>
                    
                    <ul class="px-2 py-5 flex flex-col gap-3">
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Pas de limite de membre pour votre Organisation</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Un expert disponnible 24H/24</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Possibilité de relancer par mail </span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Possibilité pour vos utilisateurs de payer directement depuis HAZE</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Dashboard avancé avec suivis de paiment </span>
                        </li>
                        
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Knowledge base</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Assistance Marketing</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Alerte pour chaque demande de Devis</span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <span class="fa fa-check-circle text-purple-500"></span>
                            <span class="text-gray-500">Invoicing system</span>
                        </li>
                        
                    </ul>
                    <button class="px-5 py-2 border shadow w-full bg-gray-50 border-gray-200 text-gray-500 hover:text-gray-700 hover:bg-gray-100 rounded">Achetez Maintenant</button>
                </div>
            </div>
        </div>
    </main>
