{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<!-- This is an example component -->
	<br>
<body>

<header>
    <!-- Importation de l'en-tête -->
		{% include 'partials/home/header.html.twig' %}
    
<header>

 <!-- Corps du home  -->

{% include 'partials/entreprise/corps.html.twig' %}



 <!-- Footer -->
{% include 'partials/footer.html.twig' %}


</body>
   


{% endblock %}