{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	{% include 'partials/_sidebar.html.twig' %}



	<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">
		<div class="flex items-center">
			<h1 class="text-2xl font-bold">Tableau de bord</h1>
		</div>
		<header>
			<div class="flex items-center justify-between py-4"></div>
		</header>
		<main class="py-8">
			<section class="mb-8">
				<h2 class="text-xl font-bold mb-4">Mes factures</h2>
				<table class="table-auto w-full bg-white shadow-md">
					<thead>
						<tr>
							<th class="px-4 py-2 text-left  font-bold">Nom</th>
							<th class="px-4 py-2 text-left  font-bold">Prénom</th>
							<th class="px-4 py-2 text-left   font-bold">Numéro de facture</th>
							<th class="px-4 py-2 text-left   font-bold">Date de fabrication</th>
							<th class="px-4 py-2 text-left   font-bold"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
							<td class="px-4 py-2 border-b border-gray-300">Younes</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">
								<a  class="text-green" href="#">Voir</a>
							</td>

						</tr>

					</tbody>
				</table>
			</section>
			<section>
				<h2 class="text-xl mb-4">Mes devis</h2>
				<table class="table-auto h-86 m-15 text-xs w-full bg-white shadow-md rounded-lg">
					<thead>
						<tr>
							<th class="px-4 py-2 text-left  font-bold">Nom</th>
							<th class="px-4 py-2 text-left  font-bold">Prénom</th>
							<th class="px-4 py-2 text-left   font-bold">Numéro de devis</th>
							<th class="px-4 py-2 text-left   font-bold">Date de fabrication</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
							<td class="px-4 py-2 border-b border-gray-300">Younes</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">
								<a  class="text-green" href="#">Voir</a>
							</td>

						</tr>

					</tbody>


				</table>
			</section>
		</main>
	</div>
{% endblock %}
