

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="  flex">

	{% include 'partials/_sidebar.html.twig' %}



		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">

			<header>
				<h2 class="text-xl font-bold mb-4">Voir les paiements</h2>
			</header>
			<main class="py-8">


				<table class="table-auto  text-xs  w-full bg-white shadow-md rounded-lg">
					<thead>
						<tr>
							<th class="px-4 py-2 text-left  font-bold">Nom</th>
							<th class="px-4 py-2 text-left  font-bold">Prénom</th>
							<th class="px-4 py-2 text-left   font-bold">Email</th>
							<th class="px-4 py-2 text-left   font-bold">Date de Naissance</th>
							<th class="px-4 py-2 text-left   font-bold">Evenements</th>
							<th class="px-4 py-2 text-left   font-bold"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
							<td class="px-4 py-2 border-b border-gray-300">Younes</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Marriage</td>

						</tr>

                        	<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sagouti</td>
							<td class="px-4 py-2 border-b border-gray-300">Hicham</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Marriage</td>

						</tr>
                        	<tr>
							<td class="px-4 py-2 border-b border-gray-300">Léonce</td>
							<td class="px-4 py-2 border-b border-gray-300">zang</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Spectacle</td>

						</tr>


					</tbody>
				</table>

			</div>


		</div>
	</div>


{% endblock %}

