{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="flex">

	{% include 'partials/_sidebar.html.twig' %}

		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">
			<div class="flex items-center">
				<h1 class="text-2xl font-bold">Tableau de bord</h1>
			</div>
			<header>
				<div class="flex items-center justify-between py-4"></div>
			</header>
			<main class="py-8">
				<section class="mb-8">
					<h2 class="text-xl font-bold mb-4">Mes factures</h2>
					<table class="table-auto w-full bg-white shadow-md">
						<thead>
							<tr>
								<th class="px-4 py-2 text-left  font-bold">Nom Client</th>
								<th class="px-4 py-2 text-left  font-bold">Motif</th>
								<th class="px-4 py-2 text-left  font-bold">Numéro de devis</th>
								<th class="px-4 py-2 text-left  font-bold">Mail du client</th>
								<th class="px-4 py-2 text-left  font-bold">Date d'envoi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
								<td class="px-4 py-2 border-b border-gray-300">Demande de négociation</td>
								<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
								<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
								<td class="px-4 py-2 border-b border-gray-300">hicham.sagouti@outlook.fr</td>
								<td class="px-4 py-2 border-b border-gray-300"></td>
							</tr>
							<a class="text-green  text-center " href="#">Voir</a>
						</tbody>
						<a class="text-green " href="#">Voir</a>
					</table>
					<table class="table-auto w-full bg-white shadow-md">
						<thead>
							<tr>
								<th class="px-4 py-2 text-left  font-bold">Nom Client</th>
								<th class="px-4 py-2 text-left  font-bold">Motif</th>
								<th class="px-4 py-2 text-left  font-bold">Numéro de devis</th>
								<th class="px-4 py-2 text-left  font-bold">Mail du client</th>
								<th class="px-4 py-2 text-left  font-bold">Date d'envoi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
								<td class="px-4 py-2 border-b border-gray-300">Demande de négociation</td>
								<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
								<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
								<td class="px-4 py-2 border-b border-gray-300">hicham.sagouti@outlook.fr</td>
								<td class="px-4 py-2 border-b border-gray-300"></td>
							</tr>
							<a class="text-green  text-center " href="#">Voir</a>

						</tbody>

					</table>
				</section>
			</main>
		</div>


	{% endblock %}
