{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="  flex">

	{% include 'partials/_sidebar.html.twig' %}



		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">

			<header>
				<h2 class="text-xl font-bold mb-4">Mon profil</h2>
			</header>

			<form class="flex flex-col text-xs items-center justify-center p-4 bg-gray-200 rounded-md w-300 shadow-sm">

				<input type="text" id="nom" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre nom">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre adresse email">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Numero de siret">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Raison Social ">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre adresse email">
				<br>

				<button type="submit" class="bg-purpleM  text-white py-2 px-4 rounded-md focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-700">Envoyer</button>

			</form>
		</div>
	</div>
{% endblock %}
