{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="  flex">

	{% include 'partials/_sidebar.html.twig' %}



		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">
			<header>
				<h2 class="text-xl font-bold mb-4">Voir Les paiements</h2>
			</header>

			<div class="flex flex-col   px-4 p-4 items-center justify-between py-2 w-1/2  ">
				<table class="table-auto m-15 text-xs w-full bg-white shadow-md rounded-lg">
					<thead>
						<tr>
							<th class="px-4 py-2 text-left  font-bold">Nom</th>
							<th class="px-4 py-2 text-left  font-bold">Prénom</th>
							<th class="px-4 py-2 text-left   font-bold">Numéro de devis</th>
							<th class="px-4 py-2 text-left   font-bold">Date de fabrication</th>
							<th class="px-4 py-2 text-left   font-bold">Evenements</th>
							<th class="px-4 py-2 text-left   font-bold"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
							<td class="px-4 py-2 border-b border-gray-300">Younes</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Marriage</td>
							<td class="px-4 py-2 border-b border-gray-300">
								<a class="px-2 text-xs w-300 rounded-full text-white bg-purpleM" href="#">Voir La facture</a>
							</td>
						</tr>

						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Sagouti</td>
							<td class="px-4 py-2 border-b border-gray-300">Hicham</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Anniversaire</td>
							<td class="px-4 py-2 border-b border-gray-300">
								<a class="px-2 text-xs rounded-full text-white bg-purpleM" href="#">Voir La factures</a>
							</td>
						</tr>
						<tr>
							<td class="px-4 py-2 border-b border-gray-300">Yassine</td>
							<td class="px-4 py-2 border-b border-gray-300">Abs</td>
							<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
							<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
							<td class="px-4 py-2 border-b border-gray-300">Spectacle</td>

							<td class="px-4 py-2 border-b border-gray-300">
								<a class="px-2 text-xs rounded-full text-white bg-purpleM" href="#">Voir La factures</a>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>


	</div>
</div>{% endblock %}
