<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<style></style>
	</head>

	<style>
		body {
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			font-family: sans-serif;
		}

		header {

			display: flex;
			justify-content: space-around;
			background: #F9F4F4;
            	height:86px;
		}

		button {
			padding: 10px 20px;
			font-size: 16px;
			margin: 20px;
			cursor: pointer;
		}

		#reservation-button {
			background-color: white;
			color: #9B47DD;
			border: none;
			border-radius: 14px;
			border: 2px solid #9B47DD;
		}

		#connexion-button,
		#inscription-button {
			background-color: #2ecc71;
			color: #fff;
			border: none;
		}
		span {
			font-size: 22px;
			color: white;
		}
		.test {
			background-image: url("../assets/images/pagedaccueil.png");
			background-size: cover;
			background-position: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 90vh;
		}
		div.dates {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		div.dates div {}
		div.dates input {
			background: #95959536;
			border: none;
			padding: 12px;
		}
		div.box {
			display: flex;
			flex-direction: column;


		}
		div.box img {
			width: 210px;
			height: 171px;
			border-radius: 20px
		}
		div.categories {
			display: flex;
			margin: 73px auto;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		div.categories span {
			color: black;
			font-size: 10px;
			text-align: center;
		}
		div.dates label {
			font-size: 13px;
			padding-bottom: 11px;
		}
	</style>

	<body>
		<header>
			<h1><img  style="width: 17%;
    border-radius: 100%;" src="../../assets/images/logo2.png">
            </h1>
			<div>
				<button id="connexion-button" style="background:#FFFAFA; color:black; border: 1px solid #80808063;">Connexion</button>
				<button id="inscription-button" style="background:#9B47DD; color:white">Inscription</button>
			</div>
		</header>
		<h2 style="text-align:center; ">Saisissez votre demande</h2>
		<form method="post" style="text-align: center;">
			<h3 style="position: relative; top:57px;font-size: 13px;">Choississez la catégorie</h3>
			<div class="categories" style="">

				<div class="box" style="">
					<img src="../../assets/images/anniversaire.jpg">
					<span>Anniversaire</span>
					<input type="checkbox" name="">

				</div>

				<div class="box" style="">
					<img src="../../assets/images/marriage.jpg">
					<span>Marriage</span>
					<input type="checkbox" name="">

				</div>
				<div class="box" style="">
					<img src="../../assets/images/soiree.jpg">
					<span>Soirée</span>
					<input type="checkbox" name="">

				</div>
				<div class="box" style="">
					<img src="../../assets/images/Séminaire.jpg">
					<span>Séminaire</span>
					<input type="checkbox" name="">

				</div>
				<div class="box" style="">
					<img src="../../assets/images/spectacle.jpg">
					<span>Spéctacle</span>
					<input type="checkbox" name="">

				</div>


			</div>
			<div class="dates" style="">
				<div class="box" style="margin: auto 58px;">
					<label>Date de l’evenement</label>

					<input type="date" name="">

				</div>
				<div class="box" style="margin: auto 58px;">
					<label>Heure de l’evenement</label>
					<input type="time" name="">

				</div>
				<div class="box" style="margin: auto 58px;">
					<label>Description</label>
					<textarea  width="200" height="" style="background: #e9e9e9;border: none;" name=""></textarea>

				</div>


			</div>
			<button style="  margin: 45px;font-size: 12px;color: #b20ab2;
								    border: 1px solid #b20ab2;
								    border-radius: 14px;
								    width: 12%;" name="btn-reserver">Envoyer</button>


		</form>
	</body>
</html>
