{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <h1>Edit Company</h1>

    {{ include('Company/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Company_index') }}">back to list</a>

    {{ include('Company/_delete_form.html.twig') }}
{% endblock %}
