{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <h1>Create new Company</h1>

    {{ include('Company/_form.html.twig') }}

    <a href="{{ path('app_Company_index') }}">back to list</a>
{% endblock %}
