
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-20 ml-32 mr-32">
   <div class="flex flex-col justify-between h-full">
    <div>
        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2  text-center">JE DEMANDE UN <span class="text-blue-500"> DEVIS</span></div>
                <p class="text-gray-700 text-base"> <span class="text-black-500">Ne Perdez plus une minute et demandez votre Devis en ligne gratuitement et pour nimporte quel evenement !</span></p>
            </div>
        
			 <div class="text-center py-4">
        <a href="#" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Cliquez ici</a>
    </div>
        </div>
    </div>
   
</div>

<div class="flex flex-col justify-between h-full  ">
    <div>
        <div class="card bg-white shadow-md rounded-lg overflow-hidden  ">
            <div class="px-6 py-4  ">
                <div class="font-bold text-xl mb-2  text-center">HAZE <span class="text-purple-500"> ENTREPRISE </span></div>
                <p class="text-gray-700 text-base"> <span class="text-black-500"> Si vous avez une entreprise dans l'evenementiel et que vous souahitez alleger votre charge de travail amis surtout booster votre acquisition client alors rejoignez nous ! </span></p>
            </div>
        
			 <div class="text-center py-4">
        <a href="{{ path('home_entreprise_app') }}" class="inline-block bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">Cliquez ici</a>
    </div>
        </div>
    </div>
   
</div>

<div class="flex flex-col justify-between h-full">
    <div>
        <div class="card bg-white shadow-md rounded-lg overflow-hidden">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2  text-center"> CONSEILS <span class="text-blue-500">DEVIS</span> </div>
                <p class="text-gray-700 text-base"> <span class="text-black-500"> vous avez besoin de quelques conseils pour demander la  realisation de votre devis ?</span></p>
				<br>
            </div>
        
			 <div class="text-center py-4">
        <a href="#" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Cliquez ici</a>
    </div>
        </div>
    </div>
   
</div>
	
</div>