{% extends "base.html.twig" %}

{# <html lang="fr">


	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Votre Site</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				overflow-x: hidden;
				font-family: sans-serif;
			}

			header {

				display: flex;
				justify-content: space-around;
				background: #F9F4F4;
				height: 86px;
			}

			button {
				padding: 10px 20px;
				font-size: 16px;
				margin: 20px;
				cursor: pointer;
			}

			#reservation-button {
				background-color: white;
				color: #9B47DD;
				border: none;
				border-radius: 14px;
				border: 2px solid #9B47DD;
			}

			#connexion-button,
			#inscription-button {
				background-color: #2ecc71;
				color: #fff;
				border: none;
			}
			span {
				font-size: 22px;
				color: white;
			}
			.test {
				background-image: url("../assets/images/pagedaccueil.png");
				background-size: cover;
				background-position: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 90vh;
			}
			.test2 {
				display: flex;
				margin: 53px;
				flex-direction: column;
				align-items: center;
				justify-content: center;

			}
			img {

				width: 80%;
			}
		</style>
	</head>

	<body> #}
		{% block body %}
			<header>
				<h1><img style="width: 17%; border-radius: 100%;" src="../assets/images/logo2.png">
				</h1>
				<div>
					<button id="connexion-button" class="text-red" style="background:#FFFAFA; border: 1px solid #80808063;">Connexion</button>
					<button id="inscription-button" style="background:#9B47DD; color:white">Inscription</button>
				</div>
			</header>

			<div class="test" style="text-align: center;">
				<span>Transformez vos rêves en réalité - laissez-nous donner vie à vos événements spéciaux.</span>
				<button id="reservation-button">Réserver</button>
			</div>

			<div class="test2 w-50" style="">

				<h2 style="">NOS SERVICES</h2>

				<img src="../assets/images/dacc.png">


			</div>
		
		{% endblock body %}
	{# </body>
</html> #}
