{% extends "base.html.twig" %}

{% block body %}


		<header class="flex justify-between items-center bg-gray-200 py-4 px-6">
			<img src="{{ asset ('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4">

			<div class="flex space-x-4">
				<button class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
					Connexion
				</button>
				<button class="inline-flex items-center px-4 py-2 bg-purple-500 border border-transparent rounded-md text-white font-medium hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
					Inscription
				</button>
			</div>
		</header>

		<div class="hero flex flex-col items-center justify-center h-screen bg-cover bg-no-repeat" style="background-image: url('{{ asset('images/pagedaccueil.png') }}')">
			<span class="text-3xl text-white font-bold mb-8">Transformez vos rêves en réalité - laissez-nous donner vie à vos événements spéciaux.</span>
			<button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Réserver</button>
		</div>

		<div class="services container mx-auto py-12">
			<h2 class="text-3xl font-bold text-center mb-8">NOS SERVICES</h2>
			<img src="{{ asset ('/images/dacc.png') }}" alt="Services Image" class="mx-auto">
		</div>

	{% endblock %}
